<a href="https://colab.research.google.com/github/WolfTheZelda/Exercicios-de-Algoritmo-UESC/blob/main/Exerc%C3%ADciosSequenciais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print("Alo mundo")

Alo mundo

In [ ]:
#2
numero = float(input("Informe um número: "))
print("O número informado foi:", numero)

Informe um número: 5
O número informado foi: 5.0

In [ ]:
#3
numero1, numero2 = float(input("Número 1: ")), float(input("Número 2: "))
print("Soma:", numero1 + numero2)

Número 1: 3
Número 2: 4
Soma: 7.0

In [ ]:
#4
print("Informe as notas bimestrais: ")
nota1, nota2, nota3, nota4 = float(input("Nota 1: ")), float(input("Nota 2: ")), float(input("Nota 3: ")), float(input("Nota 4: "))
media = (nota1 + nota2 + nota3 + nota4) / 4
print("Média:", media if media >= 0 and media <= 10 else "Desconhecida")

Informe as notas bimestrais:
Nota 1: 3
Nota 2: 4
Nota 3: 5
Nota 4: 8
Média: 5.0

In [ ]:
#5
metros = float(input("Insira uma valor em metros (m): "))
print(metros, "m =", metros * 100, "cm")

Insira uma valor em metros (m): 1.5
1.5 m = 150.0 cm

In [ ]:
#6
r = float(input("Raio do círculo: "))
PI = 3.14
area = PI * r ** 2
print("Área do círculo:", area)

Raio do círculo: 4
Área do círculo: 50.24

In [ ]:
#7
lado = float(input("Lado do quadrado: "))
area = lado * lado
print("Área do quadrado:", area)
print("Dobro da Área do quadrado:", area * 2)

Lado do quadrado: 4
Área do quadrado: 16.0
Dobro da Área do quadrado: 32.0

In [ ]:
#8
dinheiro = float(input("Quanto por hora: "))
hora = float(input("Horas trabalhadas: "))

salario = dinheiro * hora

print("Salário", "R$" + str(salario))

Quanto por hora: 3
Horas trabalhadas: 2
Salário R$6.0

In [ ]:
#9
farenheit = float(input("Farenheit(°F): "))
celsius = 5 * (farenheit - 32) / 9

print("Celsius (°C):", celsius)

Farenheit(°F): 50
Celsius (°C): 10.0

In [ ]:
#10
celsius = float(input("Celsius (°C): "))
farenheit = (celsius * 9) / 5 + 32

print("Farenheit (°F):", farenheit)

Celsius (°C): 12
Farenheit (°F): 53.6

In [ ]:
#11
inteiro1, inteiro2 = int(input("Inteiro 1: ")), int(input("Inteiro 2: "))
real = float(input("Real: "))

a = (inteiro1 * 2) * (inteiro2 / 2)
b = (inteiro1 * 3) + real
c = real ** 3

print("A=", a)
print("B=", b)
print("C=", c)

Inteiro 1: 2
Inteiro 2: 4
Real: 1.5
A= 8.0
B= 7.5
C= 3.375

In [ ]:
#12
altura = float(input("Altura: "))
print("Peso ideal: ", (72.7 * altura) - 58)

Altura: 1.6
Peso ideal:  58.32000000000001

In [ ]:
#13
altura = float(input("Altura: "))
sexo=input("Sexo (M ou F): ")

if sexo[0] == "M":
  print("Peso ideal: ", (72.7 * altura) - 58)
elif sexo[0] == "F":  
  print("Peso ideal: ", (62.1 * altura) - 44.7)
else:
  print("Sexo Inválido")

Altura: 1.6
Sexo (M ou F): F
Peso ideal:  54.66000000000001

In [ ]:
#14
peso = float(input("Peso: "))
if peso > 50:
  excesso = peso - 50
  multa = excesso * 4

  print("Excesso:", excesso)
  print("Multa", multa)
else:
  print("Sem multa")

Peso: 55
Excesso: 5.0
Multa 20.0

In [ ]:
#15
dinheiro = float(input("Quanto por hora: "))
hora = float(input("Horas trabalhadas: "))

salario = dinheiro * hora

ir = salario * 0.11
inss = salario * 0.08
sindicato = salario * 0.05

liquido = salario - (ir + inss + sindicato)

print("Salário Bruto", "R$" + str(salario))
print("IR", "R$" + str(ir))
print("INSS", "R$" + str(inss))
print("Sindicato", "R$" + str(sindicato))
print("Salário Líquido", "R$" + str(liquido))

Quanto por hora: 2
Horas trabalhadas: 10
Salário Bruto R$20.0
IR R$2.2
INSS R$1.6
Sindicato R$1.0
Salário Líquido R$15.2

In [ ]:
#16
area = float(input("Área (m²): "))

litros = area / 3
print("Litros:", litros, "L")

latas = int(litros / 18) + (litros % 18 > 0)
print("Latas:", latas)

preco = latas * 80
print("Preço:", "R$" + str(preco))

Área (m²): 54
Litros: 18.0 L
Latas: 1
Preço: R$80

In [ ]:
#17
area = float(input("Área (m²): "))
preferencia = int(input("Preferência (1 para latas, 2 para galões, 3 para ambos): "))

litros = area / 6
print("Litros:", litros, "L")

if preferencia == 1:
  latas = int(litros / 18) + (litros % 18 > 0)
  print("Latas:", latas)

  preco = latas * 80
  print("Preço Latas:", "R$" + str(preco))

elif preferencia == 2:
  galoes = int(litros / 3.6) + (litros % 3.6 > 0)
  print("Galões:", galoes)

  preco = galoes * 25
  print("Preço Galões:", "R$" + str(preco))

elif preferencia == 3:
  latas = int(litros / 18)
  latasResto = litros % 18
  galoes = int(latasResto / 3.6) + (latasResto % 3.6 > 0)

  print("Latas:", latas)
  print("Galões:", galoes)
  
  preco = (latas * 80) + (galoes * 25)
  print("Preço Latas e Galões:", "R$" + str(preco))
else:
  print("Preferência Inválida")

Área (m²): 110
Preferência (1 para latas, 2 para galões, 3 para ambos): 1
Litros: 18.333333333333332 L
Latas: 2
Preço Latas: R$160

In [ ]:
#18
size = float(input("Tamanho Download (MB): "))
speed = float(input("Velocidade Internet (Mbps): "))

tempo = ((size * 8) / speed) / 60

print("Tempo Download (m):", tempo, "minutos")

Tamanho Download (MB): 8
Velocidade Internet (Mbps): 1
Tempo Download (m): 1.0666666666666667 minutos